
- name: Create a jenkins job using basic authrntication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/test.xml') }}"
    name: test
    password: admin123
    url: http://172.31.16.102:8080
    user: admin


- name: Create a Multibranch Pipeline
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/mbranch.xml') }}"
    name: test-m
    password: admin123
    url: http://172.31.16.102:8080
    user: admin


#  loop:
#    - { name: "ci-pipelines"}
##    - { name: "terraform"}
#
#- name: Include Multi Branch task file
#  ansible.builtin.include_tasks: mbranch.yml
#  loop:
#    - { name: "cart"}
##    - { name: "catalogue"}
##    - { name: "user"}
##    - { name: "shipping"}
##    - { name: "payment"}
##    - { name: "frontend"}
#
##- name: Include Single Branch task file
##  ansible.builtin.include_tasks: sbranch.yml
##  loop:
##    - { name: "infra-create", repo: "roboshop-mutable-infra", dir: "terraform/"}
##    - { name: "k8s-infra-create", repo: "roboshop-kubernetes-infra", dir: "terraform/"}
##    - { name: "helm-chart-deploy", repo: "roboshop-helm-chart", dir: ""}